Repository davealaw/kokoro-electron, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, dependencies, tests, frontend, backend, config, build, security

.github/labeler.yml:

# Pull Request Labeler Configuration

# Documentation changes
documentation:
  - changed-files:
      - any-glob-to-any-file: ['README.md', 'CHANGELOG.md', 'docs/**/*']

# Dependencies
dependencies:
  - changed-files:
      - any-glob-to-any-file: ['package.json', 'package-lock.json']

# Testing
tests:
  - changed-files:
      - any-glob-to-any-file: ['tests/**/*', '**/*.test.js', '**/*.spec.js', 'jest.config.js']

# Frontend/UI changes
frontend:
  - changed-files:
      - any-glob-to-any-file: ['scripts/**/*', 'index.html', 'styles/**/*']

# Backend/Main process changes
backend:
  - changed-files:
      - any-glob-to-any-file: ['main.js', 'preload.js']

# Configuration changes
config:
  - changed-files:
      - any-glob-to-any-file:
          ['.github/**/*', 'babel.config.js', 'eslint.config.js', '.prettierrc', '.gitignore']

# Build system changes
build:
  - changed-files:
      - any-glob-to-any-file: ['package.json']

# Security related
security:
  - changed-files:
      - any-glob-to-any-file: ['.github/workflows/security.yml', 'package-lock.json']

# Bug fixes (based on branch naming)
bug:
  - head-branch: ['^fix/', '^bugfix/', '^hotfix/']

# New features (based on branch naming)
enhancement:
  - head-branch: ['^feature/', '^feat/']

# Refactoring
refactor:
  - head-branch: ['^refactor/']

# Performance improvements
performance:
  - head-branch: ['^perf/', '^performance/']

fix: rename .github/README.md to avoid GitHub display conflict
  .github/WORKFLOWS.md
Labels: config

🔒🐛 v1.0.2: Security fixes and critical TTS audio dropping bug
  CHANGELOG.md
  main.js
  package.json
  preload.js
  scripts/debug.js
  scripts/dom.js
  scripts/states.js
  scripts/text-utils.js
  tests/unit/states-simple.test.js
  tests/unit/states.test.js
  tests/unit/text-utils.test.js
Labels: documentation, dependencies, tests, frontend, backend, build

fix: resolve Linux and Windows build issues
  .github/workflows/security.yml
  assets/icon.ico
  package.json
Labels: dependencies, config, build, security

security: fix insecure temporary file creation
  main.js
Labels: backend

chore: release version 1.0.3
  CHANGELOG.md
  package.json
Labels: documentation, dependencies, build

fix: resolve GitHub release creation permission issues
  .github/workflows/release.yml
  package.json
Labels: dependencies, config, build

chore: release version 1.0.4
  CHANGELOG.md
  package.json
Labels: documentation, dependencies, build

Update README.md
  README.md
Labels: documentation

fix: resolve lint errors and build issues for v1.0.5
  CHANGELOG.md
  jest.config.js
  main.js
  package-lock.json
  package.json
Labels: documentation, dependencies, tests, backend, build, security

fix: use isbinaryfile@^5.0.0 for CommonJS compatibility
  package-lock.json
  package.json
Labels: dependencies, build, security

Revert "deps-dev(deps-dev): bump jsdom from 28.1.0 to 29.0.1"
  package-lock.json
  package.json
Labels: dependencies, build, security

chore: refresh dependencies and bump to 1.0.6
  .github/workflows/ci.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  CHANGELOG.md
  package-lock.json
  package.json
Labels: documentation, dependencies, config, build, security
